a {
  color: #FCF8E8;
  font-size: 1.3em;
}

h2 {
  padding-bottom: 30px;
}

p {
  margin: auto;
  color: #40514E;
}

i {
  color: grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:15%;
  padding: 25px 0px 25px 0px;
}

i:hover {
  color: #FCF8E8;
}

/* index */
.top-container {
  background-size: cover;
  background-position: center;
  height: 400px;
}

.title-area {
  padding-top: 80px;
}

.title, .subtitle {
  margin-left: 100px;
  font-size: 3em;
  color: #FCF8E8;
}

.about {
  padding-left: 0px;
  padding-right: 20px;
}

.work, .contact {
  padding-left: 20px;
  padding-right: 20px;
}

.contact-link {
  margin-top: 50px;
  text-align: center;
}

.contact-icon {
  padding-left: 0px;
  padding-right: 0px,
  color: #FCF8E8;
  font-size: 1.0em;
}

/* about */
.divider {
  width: 10%;
  border-width: 5px;
  color: grey;
}

.skill_icon:hover {
  color: #DFD3C3;
}

.myself {
  width: 60%;
}

.first-container, .second-container, .third-container {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.card1, .card2, .card3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card1 {
  background-color: #F2D7D9
}

.card2 {
  background-color: #D3CEDF
}

.card3 {
  background-color: #9CB4CC
}

.row {
  padding-left: 150px;
  padding-right: 150px;
  margin-left: auto;
  margin-right: auto;
}

/*contact*/
.bottom-container {
  margin-top: 50px;
  text-align: center;
  height: 250px;
  padding: 2% 0%
}

.copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  color: grey;
}
